:root{
    --webkit-color: #0097bc;
}

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: #eee;
    width: 80%;
    margin: auto;
    text-align: center;
    padding:  5px;
}
.container h2{
    font-size: 30px;
    margin: 0;
}
.container ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    height: 100px;
}
.container ul li{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    list-style: none;
    transition: 0.3s;
}


.container ul li:nth-child(1){background-color: #6f085a; opacity: 0.5;}
.container ul li:nth-child(2){background-color: #3fff7c; opacity: 0.5;}
.container ul li:nth-child(3){background-color: #db2044; opacity: 0.5;}
.container ul li:nth-child(4){background-color: #2f80ff; opacity: 0.5;}
.container ul li:nth-child(5){background-color: #fc6f24; opacity: 0.5;}
.container ul li.active{
    background-color: var(--webkit-color);
    opacity: 1;
    width: 100px;
    height: 100px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: var(--webkit-color);
}

@media(max-width:767px){
    .container{
        width: 100%;
    }
    .container ul{
        height: 50px;
    }
    .container ul li{
        width: 40px;
        height: 40px;
    }
    .container ul li.active{
        width: 50px;
        height: 50px;
    }
}